@media (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
  .local {
    display: none;
  }
  nav {
    display: none;
  }
  .feedback {
    display: none;
  }
  .burger {
    display: block;
    margin-left: auto;
  }
  .services-wrap {
    flex-direction: column;
    align-items: center;
  }
  .block {
  }
}
