@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #7a7a7a;
    margin: 0;
    padding: 0;
    background-color: #f5f2f28e;
  }
 
 
  .header {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
  }
  
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
    margin: 0 auto;
  }
  
  .header__logo img {
    max-height: 54px;
    width: auto;
  }
  
  .header__media-list {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .header__media-icon {
    width: 24px;
    height: 24px;
  }
  
  .header__nav .menu {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu__link {
    text-decoration: none;
    color: #7a7a7a;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .menu__link:hover {
    color: #52bfff;
  }
  
  .header__language {
    margin-left: 20px;
  }
  
  .header__language-list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .header__language-item {
    font-size: 16px;
    color: #7a7a7a;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .header__language-item--active {
    color: #52bfff;
  }
  
  .header__language-item:hover {
    color: #52bfff;
  }
  
  .header__actions {
    flex-shrink: 0;
  }
  
  .header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #52bfff;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .header__button-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    flex-shrink: 0;
  }
  .header__button-icon img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .header__button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .navigation-path {
    padding: 1vh 0;
    font-size: 14px;
    background-color: #f5f2f207;
  }
  
  .navigation-path__container {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .navigation-path__link {
    text-decoration: none;
    color: #7a7a7a;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease;
  }
  
  .navigation-path__link:hover {
    color: #52bfff;
  }
  
  .navigation-path__icon {
    width: 14px;
    height: 14px;
    display: block;
  }
  
  .navigation-path__separator {
    color: #ccc;
    font-size: 14px;
  }
  
  .navigation-path__current {
    color: #7a7a7a;
    font-weight: bold;
  }
  .basic{
    height: 14vh;
    width: 155vh;
    align-content: center;
    
  }
  .containerstudent{
    display: grid;
    grid-template-columns: 20% 35% 35%;
    grid-template-rows: 20% 80%;
    gap: 5% 5%;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius 20px;
    background:#ffff
  }
  .block_foto{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-items: center;

  }
  .block3{
    grid-column-end: span 2;
  }
  .block1{
    display: grid;
    text-align: left;
  }
  .block2{
    align-content: center;
    text-align: right;
  }
h2{
  display: grid;
  justify-content: center;
}
.basic{
justify-items: center;
}

.contact {
  position: relative;
  max-width: 100%;
  mheight: 50%;
  margin: 0 auto;
  padding: 5% 2px;
  margin-top: 2%;
  margin-bottom: 2%;
  background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url("../img/aboutus.img/contact_london.svg") bottom center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.contact::before {
  content: "";
  position: absolute;
  top: -240px;
  left: 0;
  width: 100%;
  height: 472px;
  background: linear-gradient(rgba(220, 220, 220, 0.1), rgba(220, 220, 220, 0)),
    url("../img/aboutus.img/verlauf.svg") top center no-repeat;
  background-size: cover, cover;
  pointer-events: none;
  z-index: 2;
  transform: scaleY(-1);
}

.contact::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -382px;
  width: 100%;
  height: 206px;
  background: linear-gradient(rgba(220, 220, 220, 0.1), rgba(220, 220, 220, 0)),
    url("../img/aboutus.img/verlauf.svg") bottom center no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: 2;
  transform: scaleY(-1);
}

.contact__container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}

.contact__woman {
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 3;
  width: 400px;
}

.contact__flag {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 3;
  width: 200px;
}

.contact__right {
  position: relative;
  width: 50%;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.contact__title {
  font-size: 28px;
  color: #7a7a7a;
  margin-bottom: 20px;
  text-align: center;
}

.contact__subtitle {
  font-size: 16px;
  color: #7a7a7a;
  margin-bottom: 20px;
  text-align: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact__field {
  position: relative;
  margin-bottom: 20px;
}

.contact__input,
.contact__textarea {
  width: 100%;
  padding: 15px 15px 15px 45px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  background: rgba(248, 252, 255, 1);
}

.contact__textarea {
  resize: none;
  height: 100px;
}

.contact__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.contact__button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 220px;
  height: 50px;
  padding: 5px;
  background-color: #52bfff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  justify-content: start;
}

.contact__button image {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin: 0;
}

.contact__button:hover {
  background-color: #0056b3;
  transform: translateX(-50%) scale(1.05);
}

.contact__pencil {
  position: absolute;
  top: 10px;
  right: -30px;
  transform: rotate(15deg);
  width: 290px;
  height: auto;
  z-index: 4;
}


.questions {
  position: relative;
  overflow: visible;
  margin: 0;
  padding: 0;
}

.questions__container {
  max-width: 100%;
  min-height: 630px;
  margin: 0 auto;
  position: relative;
  background: url("../img/service.img/map.png") top center no-repeat;
  background-size: cover;
}

.questions__container::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/service.img/map.png") top center no-repeat;
  background-size: cover;
  z-index: -1;
}

.questions__header {
  text-align: center;
}

.questions__title {
  font-size: 32px;
  color: #52bfff;
  margin-top: 61px;
}

.questions__subtitle {
  font-size: 18px;
  color: #7a7a7a;
  margin-top: 10px;
}

.questions__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  height: auto;
  width: 30%;
  padding: 0 20px;
  margin-top: 69px;
  left: 40%;
  top: 20%;
}

.questions__form {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 367px;
  height: 304px;
  text-align: left;
  z-index: 1;
  margin: 0 auto;
}

.questions__form::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px dashed #ecf6fc;
  border-radius: 12px;
  pointer-events: none;
  z-index: -1;
}

.questions__info {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.questions__item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.questions__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.questions__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.questions__text strong {
  font-size: 16px;
  color: #313131;
}

.questions__text p {
  font-size: 14px;
  color: #7a7a7a;
  margin: 0;
}

.questions__button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 220px;
  height: 50px;
  padding: 5px;
  background-color: #52bfff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  justify-content: start;
}

.questions__button:hover {
  background-color: #0056b3;
  transform: translateX(-50%) scale(1.05);
}

.questions__button img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin: 0;
}

.questions__tree {
  position: absolute;
  left: 0;
  bottom: 160px;
  max-width: 581px;
  max-height: 434px;
  z-index: 1;
}

.questions__bus {
  position: absolute;
  right: 0;
  bottom: 39px;
  max-width: 25%;
  max-height: auto;
  z-index: 1;
}

.footer {
  position: relative;
  background-color: white;
  margin-top: 0;
  padding: 20px 0;
}

.footer::before,
.footer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  border-top: 1px dashed #ecf6fc;
  pointer-events: none;
}

.footer__container {
  display: grid;
  grid-template-columns: 100px 1fr 200px;
  grid-template-rows: auto auto;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer__icon:first-of-type {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer__nav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: left;
  align-items: center;
}

.footer__social {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.footer__icon:last-of-type {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.footer__contacts {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.footer__contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__menu {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu-item a {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer__menu-item a:hover {
  color: #52bfff;
}

.footer__icon img {
  max-width: 100%;
}
.footer__city {
  color: #313131;
  font-weight: bold;
}

.footer__address {
  color: #7a7a7a;
}

/* Адаптация */

@media (max-width: 375px) {
  .header__button {
    font-size: 14px;
    padding: 8px 15px;
  }

  .menu__link {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header__container {
    flex-wrap: wrap;
  }

  .header__button {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }

  .hero__content {
    flex-direction: column;
  }

  .hero__text,
  .hero__image-wrapper {
    width: 100%;
    height: auto;
  }

  .hero__title {
    font-size: 28px;
  }

  .hero__description {
    font-size: 14px;
  }

  .services {
    background-position: top;
  }

  .services__list {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .services__item {
    max-width: 100%;
  }

  .services__icon {
    top: -20px;
    width: 50px;
  }

  .services__text {
    font-size: 14px;
  }

  .contact {
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.6) 100%
      ),
      url("../img/aboutus.img/contact_london.svg") bottom center no-repeat;
  }

  .contact__container {
    flex-direction: column;
    text-align: center;
  }

  .contact__right {
    width: 100%;
  }

  .contact__woman {
    position: relative;
    bottom: unset;
    left: unset;
    width: 200px;
    margin: 20px auto;
  }

  .contact__flag {
    display: none;
  }

  .contact__pencil {
    display: none;
  }

  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }

  .footer__social {
    justify-content: center;
  }

  .footer__contacts {
    grid-column: 1 / 2;
  }
}