body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  width: 100px;
}

.header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10px;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 15px;
}

.logo-icon {
  width: 110px;
  height: 54px;
  margin-left: 30px;
}

.local {
  font-size: 12px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.local__btn {
  padding-left: 10px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.feedback {
  display: flex;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0px 0px 25px 0px #52bfff26;
  background-color: white;
  padding: 5px;
}

.feedback__txt {
  color: #52bfff;
  padding: 15px 20px 15px 15px;
}

.burger {
  display: none;
}

.nav {
  font-size: 14px;
}

.nav-link {
  margin-right: 15px;
  color: black;
}

.services {
  background-image: url(../img/service.img/white-cloud.png);
}

.services-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 150px;
}

.services__card {
  margin: 10px;
  padding: 20px;
  background-color: lightblue;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
  height: 180px;
  border-radius: 20px;
  font-size: -10px;
  position: relative;
  background-color: white;
}

.services__img {
  top: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.services__txt {
  margin-top: 60px;
}

.fill {
  background-image: url(../img/service.img/Mask\ Group.png);
  display: flex;
  margin-top: 190px;
}

.flag {
  transform: translate(50%, -20%);
}

.bus {
  margin: 0 0 0 199px;
}

.girl {
  width: 80%;
}

.form_box {
  width: 40%;
  height: 40%;
  display: flex;
  transform: translate(-20%, 20%);
}

.pencil {
  position: absolute;
  transform: translate(400%, -30%);
}

.adress {
  margin-top: 30px;
}

.footer_container {
  display: flex;
  max-width: 1440px;
}
